# General
.DS_Store
.idea/
.vscode/
*.log
*.sqlite
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
.turbo/

# HDAP Specific
*.pth
*.pkl
instance/
apps/backend/.venv
apps/backend/instance/
apps/frontend/dist/

# Monitor Binaries
infra/monitor/bin/prometheus
infra/monitor/bin/promtool
